@import url('https://fonts.googleapis.com/css?family=Roboto');
p {line-height: 0;}
.container {
	width:100%;
	
}

.header {
	display: flex;
}
.header_el {
	height: 80px;
	width: 20%;
	font-family: 'Roboto',san-serif;
	font-size: 12px;
	color: #FFF;
	padding: 15px 5px 10px 5px;
	background: linear-gradient(#7C92B6, #627997);
	border-style: solid;
	border-color: #718AAB #5F7493 #5F7493 #718AAB;
}
.header_el p {
	color: white;
	font-size: 25px;
}
.head_1 {
	background: #99B3D1;
}
.bg-image {
	width: 100%;
}
.time {
	display: flex;
	height: 160px;
	font-family: 'Roboto',san-serif;
	font-size: 12px;
	color: #FFF;
}

.clock {
	background: linear-gradient(#7D91B7, #59708B);
	width: 34%;
	border-style: solid;
	border-color: #718AAB #5F7493 #5F7493 #718AAB;
}
.clock p {
	font-size: 48px;
}
.graphic {
	width: 22%;
	background: linear-gradient(#596F8B, #677F9F);
	border-style: solid;
	border-color: #718AAB #5F7493 #5F7493 #718AAB;
}
.timer {
	width: 22%;
	background: linear-gradient(#596F8B, #677F9F);
	border-style: solid;
	border-color: #718AAB #5F7493 #5F7493 #718AAB;
}
.target{
	width: 22%;
	background: linear-gradient(#596F8B, #677F9F);
	border-style: solid;
	border-color: #718AAB #5F7493 #5F7493 #718AAB;
}
.alarm {
	height: 160px;
	background-color: #677F9E;
	display: flex;
	justify-content: space-between;
	align-items:center;
	font-family: 'Roboto',san-serif;
	font-size: 28px;
	color: white;
	/*border: 2px solid #5F7493 ;*/
	}
.block {
	display: flex;
	background-color: #677F9E;
	border: 2px solid #5F7493 ;
}
.block_1 {
	
	width: 50%;
	border-right: 2px solid #5F7493 ;
}
.bl_1 {
	border-bottom: 2px solid #5F7493 ;
	height: 90px;
	background: linear-gradient(#677F9F,#596F8B);
}
.bl_2 {
	height: 90px;
	background: linear-gradient(#677F9F,#596F8B);
}

.block_2 {
	background: linear-gradient(#596F8B, #677F9F);
}

.shedule {
	height: 80px;
	display: flex;
	justify-content: space-between;
	background-color: #677F9E;
	font-family: 'Roboto',san-serif;
	font-size: 28px;
	color: white;
	border-style: solid;
	border-color: #718AAB #5F7493 #5F7493 #718AAB;
}
.scroll {
	height: 250px;
	background-color: #677F9E;
}
.rendezvous {
	height: 80px;
	display:flex;
	background: #99B3D1;
	font-family: 'Roboto',san-serif;
	font-size: 18px;
	color: white;
	padding-left: 15px;
}
.rendezvous_1 {
	width: 80%;
	border-right: 2px solid #5F7493 ;

}
.approach {
	width: 20%;
	padding-left: 15px;
}

.table_row {
	display: flex;

}
.row {
	height: 45px;
	width: 10%;
	border-right: 2px solid #5F7493 ;
	border-bottom:2px solid #5F7493;
	background-color: #677F9E;
	font-family: 'Roboto',san-serif;
	font-style: 16px
	
}
.row_1, .row_2, .row_3, .row_4, .row_5, .row_6 {
	color: white;
}




.footer {
	height: 5vh;
	background: #849DC3;
}
.first {
	width: 30%;
	background: #A3ECF1;
}