@import url('https://fonts.googleapis.com/css?family=Roboto');
.header {
font-family: Roboto;san-serif;
font-style: 30px;
color: white;
background-color:  #99B3D1;
padding: 15px 0 15px 10px;
}
.pressure {
	display: flex;
	height: 150px;
}
.pres_1 {
	width: 20%;
	background: linear-gradient(#677F9F,#596F8B);
	border: 2px solid #5F7493 ;
}
.pres_2 {
	width: 20%;
	background: linear-gradient(#677F9F,#596F8B);
	border: 2px solid #5F7493 ;
}
.pres_3 {
	width: 20%;
	background: linear-gradient(#677F9F,#596F8B);
	border: 2px solid #5F7493 ;
}
.pres_4 {
	width: 20%;
	background: linear-gradient(#677F9F,#596F8B);
	border: 2px solid #5F7493 ;
}
.pres_5 {
	width: 20%;
	background: linear-gradient(#677F9F,#596F8B);
	border: 2px solid #5F7493 ;
}